:root {
  font-size: 62.5%;
  --header-background-color: #fb8500;
  --footer-background-color: black;
  --form-background-color: #edede9;
  --form-btn-color: #06d6a0;
  --form-btn-hover-color: #83d483;
  --form-btn-active-color: #0cb0a9;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  background-color: var(--header-background-color);
  text-align: center;
  padding: 2rem;
  font-size: 5rem;
  letter-spacing: 2px;
  font-family: monospace;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--footer-background-color);
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: white;
}

/*-------- FORM --------*/

.form {
  width: min(65vw, 80rem);
  background-color: var(--form-background-color);
  padding: 2rem;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

fieldset {
  padding: 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

legend {
  font-size: 2.5rem;
}

input {
  padding: 0.3rem;
  font-size: 1.5rem;
}

input:focus {
  outline: 1px solid black;
}

.form-personal,
.form-career,
.form-education,
.form-skills {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  opacity: 0;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -1.3em;
}

input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  opacity: 1;
}

.photo {
  position: static;
  opacity: 1;
}

.desc-inp {
  resize: none;
  padding: 1rem;
  height: 10rem;
  font-size: 1.6rem;
}

.add-btn,
.delete-btn {
  border: none;
  background-color: var(--form-btn-color);
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem 2rem;
}

.delete-btn {
  margin: 0;
}

.add-btn:hover,
.delete-btn:hover {
  background-color: var(--form-btn-hover-color);
}

.add-btn:active,
.delete-btn:active {
  background-color: var(--form-btn-active-color);
}
